<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head(${deck.name})}"></head>
<body>

<div class="app-layout">
    <nav th:replace="~{fragments/layout :: topnav}"></nav>
    <div id="main-content" class="app-main-content">
        <div id="explorer-detail" class="sh-explorer-detail sh-explorer-detail-standalone">
            <div th:replace="~{fragments/deck :: deckDetail}"></div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
