<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head('Past Exams')}"></head>
<body>

<div class="app-layout">
    <nav th:replace="~{fragments/layout :: topnav}"></nav>
    <div id="main-content" class="app-main-content">
        <div class="sh-fade-in">
            <div class="sh-dashboard-shell">
                <div class="sh-explorer-shell">
                    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>
                    <div id="explorer-detail" class="sh-explorer-detail sh-explorer-detail-content">
                        <!-- If exam detail is present, show it, otherwise show the list -->
                        <div th:if="${exam != null}" th:replace="~{fragments/exam-detail :: exam-detail}"></div>
                        <div th:if="${exam == null}" th:replace="~{fragments/exams-list :: exams-list}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-placeholder"></div>
<div th:replace="~{fragments/layout :: scripts}"></div>
<script th:src="@{/js/exam.js}"></script>
</body>
</html>
