<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head('Study Session')}"></head>
<body>

<div class="app-layout">
    <nav th:replace="~{fragments/layout :: topnav}"></nav>
    <div id="main-content" class="app-main-content">
        <div th:switch="${studyStateView}">
            <div th:case="'card'" th:replace="~{fragments/study-card :: studyCard}"></div>
            <div th:case="'complete'" th:replace="~{fragments/study-complete :: studyComplete}"></div>
            <div th:case="*" th:replace="~{fragments/study-setup :: studySetup}"></div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
