<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head(#{study.title})}">
    <link rel="stylesheet" th:href="@{/css/exam.css}">
</head>
<body>

<div id="modal-placeholder"></div>

<div class="app-layout">
    <nav th:replace="~{fragments/layout :: topnav}"></nav>
    <div id="main-content" class="app-main-content">
        <div class="sh-fade-in">
            <div class="sh-dashboard-shell">
                <div class="sh-explorer-shell sh-hide-sidebar">
                    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>
                    <div id="explorer-detail" class="sh-explorer-detail sh-explorer-detail-content">
                        <th:block th:if="${studyStateView == 'card'}">
                            <div th:replace="~{fragments/study-card :: studyCard}"></div>
                        </th:block>
                        <th:block th:if="${studyStateView == 'question'}">
                            <div th:replace="~{fragments/quiz-question :: quizQuestion}"></div>
                        </th:block>
                        <th:block th:if="${studyStateView == 'complete'}">
                            <th:block th:if="${mode == T(com.HendrikHoemberg.StudyHelper.dto.StudyMode).QUIZ}">
                                <div th:replace="~{fragments/quiz-summary :: quizSummary}"></div>
                            </th:block>
                            <th:block th:if="${mode != T(com.HendrikHoemberg.StudyHelper.dto.StudyMode).QUIZ}">
                                <div th:replace="~{fragments/study-complete :: studyComplete}"></div>
                            </th:block>
                        </th:block>
                        <th:block th:if="${studyStateView != 'card' and studyStateView != 'question' and studyStateView != 'complete'}">
                            <div th:replace="~{fragments/study-setup :: studySetup}"></div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
